* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    height: 700px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.barra-superior {
    display: flex;
    justify-content: space-between;
}

.barra-superior__turno {
    width: 60%;
    background-color: lightblue;
    color: black;
    padding: 1.3rem;
    font-size: 20px;
}

.barra-superior__numero-turno {
    width: 30%;
    text-align: center;
    font-size: 20px;
}

.barra-superior__boton {
    width: 10%;
    height: 40px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}

.contenedor-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

.contenedor-inputs [class*=minicontenedor-inputs] {
    display: flex;
    flex-direction: column;
}

.contenedor-inputs .minicontenedor-inputs__1 {
    width: 48%;
}

.contenedor-inputs .minicontenedor-inputs__2 {
    width: 48%;
}



.minicontenedor-inputs__1 .input__1 {
    height: 250px;
    background-color: red;
}

.minicontenedor-inputs__1 .input__2 {
    height: 250px;
    background-color: yellow;
}

.minicontenedor-inputs__2 .input__3 {
    height: 250px;
    background-color: blue;
}

.minicontenedor-inputs__2 .input__4 {
    height: 250px;
    background-color: green;
}


[class*=input] {
    border: none;
    opacity: 0.8;
}